#myNav {
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: darkblue; 
  position: relative;
  margin: 0px;
}

.navTxt {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  top: 100px;
  width: 200px;
  left: 100px;
  size: 30px;
}

.navTxt:hover {
  color: red;
}

#banner {
  color: darkblue;
  font-size: 55px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

#pic {
  display: block;
  margin: auto;
  /*border-style: solid;
  border-width: 8px;
  border-color: darkblue;
  */border-radius: 400px;
}

h2 {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightcyan;
}

#aboutMe {
  height: 265px;
  width: 400px;
  margin: 5px auto 5px auto;
  background-color: rgba(87, 87, 87, 0.514);
  border-radius: 10px;
  padding: 8px;
  top: 20px;
}

.divs {
  height: 200px;
  width: 300px;
  background-color: rgba(87, 87, 87, 0.514);
  border-radius: 50px;
  padding: 5px;
  margin: 20px auto 20px auto;
  display: block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#contact {
  width: 100%;
  height: 75px;
  background-color: darkblue;
  margin: auto;
  border-radius: 5px;
  padding-top: 7px;
  text-align: center;
}